body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.pinimg.com/736x/28/68/78/286878f2bd311db878a2f494a961e858--backgrounds-free-free-download.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.picture-card{
  border-radius: 50px;
  border: solid olive;
  display: flex;
   justify-content: space-between;
}

.card-background{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}